{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends 'main_views/_layout.njk' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="full-height">
{{ govukBackLink({
  text: "Back",
  href: "#",
  classes:"backButton"
}) }}
{% include "partials_views/pageTitle.njk" %}
{{ 
govukButton({
text: "Approve Invoice",
classes: "fix-width",
href: approveUrl
}) 
}}
{{ govukButton({
  text: "Reject Invoice",
  classes: "govuk-button--warning",
  id:"showPopup"
}) }}
<form id="reasonForm" action="/rejectInvoice" method="POST">
<div class="popup-overlay" id="popupOverlay">
    <div class="popup-content govuk-form-group">
       <input name="invoiceId" type="hidden" value="{{invoiceId}}" />
       {{ govukTextarea({
          name: "reason",
          id: "reason",
          label: {
           text: "Reason For Rejection?",
           classes: "govuk-label--l",
           isPageHeading: true
        },
         hint: {
           text: "Enter Reason Please."
         }
        }) 
        }}
         {% set errorMessage %}
          Fill All The Fields
         {% endset %}
        {% include "partials_views/errorBanner.njk" %}
        <div class="govuk-button-group">
           {{ govukButton({text: "Submit"}) }}
           {{ 
            govukButton({
            text: "Cancel",
            classes: "govuk-button--warning",
            id:"cancelPopup"
            }) }}
        </div>
    </div>
</div>
 </form> 
{% for item in invoices %}
 {% include "partials_views/summaryBox.njk" %}
{% endfor %}

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
{% for singleitem in invoiceRequests %}
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <div class="govuk-heading-l color-heading">
       Request Detail
      </div>
      {% set item = singleitem.summary_data %}
      {% include "partials_views/summaryBox.njk" %}
      <div class="govuk-heading-l color-heading">
       Line Details
      </div>
      {% set summaryHeader = singleitem.lines_data.lineDetail %}
      {% set summaryTable = singleitem.lines_data.lineTable %}
      {% include "partials_views/summaryTable.njk" %}
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}