{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends 'main_views/_layout.njk' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="full-height">
{{ govukBackLink({
  text: "Back",
  href: "#",
  classes:"backButton"
}) }}
{% include "partials_views/pageTitle.njk" %}
{% include "partials_views/successBanner.njk" %}
{% for item in invoices %}
 {% include "partials_views/summaryBox.njk" %}
{% endfor %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}