{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends 'main_views/_layout.njk' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="full-height">
{{ govukBackLink({
  text: "Back",
  href: "#",
  classes:"backButton"
}) }}
{% include "partials_views/pageTitle.njk" %}

{% for item in invoices %}
 {% include "partials_views/summaryBox.njk" %}
{% endfor %}

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
{% for singleitem in invoiceRequests %}
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <div class="govuk-heading-l color-heading">
       Request Detail
      </div>
      {% set item = singleitem.summary_data %}
      {% include "partials_views/summaryBox.njk" %}
      <div class="govuk-heading-l color-heading">
       Line Details
      </div>
      {% set summaryHeader = singleitem.lines_data.lineDetail %}
      {% set summaryTable = singleitem.lines_data.lineTable %}
      {% include "partials_views/summaryTable.njk" %}
    </div>
  </div>
{% endfor %}
</div>

 <form action="/bulk_data_upload" method="POST" id="bulkUploadData">
    <input name="bulkData" type="hidden" value="{{bulkData}}" />
    <div class="govuk-button-group">
     {{ govukButton({text: "Save and continue"}) }}
     <a class="govuk-link backButton" href="#">Cancel</a>
    </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}