{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends 'main_views/_layout.njk' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="full-height">
{{ govukBackLink({
  text: "Back",
  href: "#",
  classes:"backButton"
}) }}
{% include "partials_views/page_title.njk" %}
{% include "partials_views/summary_table.njk" %}

 <form action="/bulk_data_upload" method="POST" id="bulk_upload_data">
    <input name="payment_id" type="hidden" value="{{payment_id}}" />
    <input name="bulk_data" type="hidden" value="{{bulk_data}}" />
    <div class="govuk-button-group">
     {{ govukButton({text: "Save and continue"}) }}
     <a class="govuk-link backButton" href="#">Cancel</a>
    </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}