{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends 'main_views/_layout.njk' %}


{% block content %}
<div class="full-height">
{% include "partials_views/errorPopup.njk" %}

{% if view_type and view_type=='view' %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  classes:"backButton"
}) }}
{% endif %}
{% include "partials_views/pageTitle.njk" %}
{% include "partials_views/summaryTable.njk" %}

 <form action="{% if view_type != 'view' %}/storeAdminApprover{% else %}#{% endif %}" method="POST" id="approverForm">
    <input name="view_type" type="hidden" value="{{view_type}}" />
    
    {{ govukInput({
    label: {
      text: "Email",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    hint: {
    text: "Enter Email"
    },
    id:"email",
    name: "email",
    value: email,
    classes:"approver_inputs",
    attributes: attributesitem
    }) 
    }}

    {{ govukInput({
    label: {
      text: "Threshold",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    hint: {
    text: "Enter Threshold"
    },
    id:"threshold",
    name: "threshold",
    value: threshold,
    classes:"approver_inputs",
    attributes: attributesitem
    }) 
    }}

    {{ govukSelect({
     name: "deliverybody",
     label: {
      text: 'Delivery Body',
      classes: "govuk-label--s"
     },
    items: deliverybody,
    id: "deliverybody",
    classes:"full-width approver_inputs",
    disabled:disableditem
    }) 
    }}

    {{ govukSelect({
     name: "schemecode",
     id: "schemecode",
     label: {
      text: 'Scheme Code',
      classes: "govuk-label--s"
     },
    items: schemecode,
    classes:"full-width approver_inputs",
    disabled:disableditem
    }) 
    }}

    {% if view_type and view_type!='view' %}

    {% set errorMessage %}
    Fill All The Fields
    {% endset %}

    {% include "partials_views/errorBanner.njk" %}
    
    <div class="govuk-button-group">
     {{ govukButton({text: "Save and continue"}) }}
     <a class="govuk-link backButton" href="#">Cancel</a>
    </div>
   {% endif %}
    </form>

</div>
<script>
    const deliverybodyData = {{ deliverybodyData | dump | safe }};
    const schemecodeData = {{ schemecodeData | dump | safe }};
</script>
{% endblock %}

