{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends 'main_views/_layout.njk' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="full-height">
{% if view_type and view_type=='view' %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  classes:"backButton"
}) }}
{% endif %}
{% include "partials_views/page_title.njk" %}
{% include "partials_views/summary_table.njk" %}

 <form action="{% if view_type != 'view' %}/createPayment{% else %}#{% endif %}" method="POST" id="paymentForm">
    <input name="inv_id" type="hidden" value="{{invoice_id}}" />
    {% if payment_id and payment_id!='' %}
      <input name="payment_id" type="hidden" value="{{payment_id}}" />
    {% endif %}
    {{ govukInput({
    label: {
      text: "FRN",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    name: "frn",
    value: frn,
    classes:"payment_inputs",
     attributes: attributesitem
    }) 
    }}

    {{ govukInput({
     label: {
      text: "SBI",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    name: "sbi",
    value: sbi,
    classes:"payment_inputs",
     attributes: attributesitem
    }) 
    }}

    {{ govukInput({
     label: {
      text: "Vendor",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    name: "vendor",
    value: vendor,
    classes:"payment_inputs",
    attributes: attributesitem
    }) 
    }}

    {{ govukInput({
     label: {
      text: "Marketing Year",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    name: "marketing_year",
    value: marketing_year,
    classes:"payment_inputs",
    attributes: attributesitem
    }) 
    }}

    {{ govukInput({
     label: {
      text: "Agreement Number",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    name: "agreement_number",
    value: agreement_number,
    classes:"payment_inputs",
    attributes: attributesitem
    }) 
    }}

    
    {{ govukSelect({
     name: "currency",
     label: {
      text: 'Currency',
      classes: "govuk-label--s"
     },
    items: payment_type,
    classes:"full-width payment_inputs",
    disabled:disableditem
    }) 
    }}

    {{ govukInput({
     label: {
      text: "Description",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    name: "description",
    value: description,
    classes:"payment_inputs",
    attributes: attributesitem
    }) 
    }}

    {% if view_type and view_type!='view' %}

    {% set error_message %}
    Fill All The Fields
    {% endset %}

    {% include "partials_views/error_banner.njk" %}
    
    <div class="govuk-button-group">
     {{ govukButton({text: "Save and continue"}) }}
     <a class="govuk-link backButton" href="#">Cancel</a>
    </div>
   {% endif %}
    </form>

</div>
{% endblock %}

{% block footer %}
{% endblock %}