{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if errorMessage and errorMessage!='' %}
{% set html %}
<h3 class="govuk-notification-banner__heading">
    {{errorMessage}}
</h3>
{% endset %}
{{ govukNotificationBanner({
  html: html,
  type: "error",
  classes: "error_message"
}) }}
{% endif %}