{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if success_message and success_message!='' %}
{% set html %}
<h3 class="govuk-notification-banner__heading">
    {{success_message}}
</h3>
{% endset %}
{{ govukNotificationBanner({
  html: html,
  type: "success",
  classes: "success_message"
}) }}
{% endif %}