{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if successMessage and successMessage!='' %}
{% set html %}
<h3 class="govuk-notification-banner__heading">
    {{successMessage}}
</h3>
{% endset %}
{{ govukNotificationBanner({
  html: html,
  type: "success",
  classes: "success_message"
}) }}
<script>
if (document.referrer=== `${window.location.protocol}//${window.location.host}/`) {
  history.back();
}
</script>
{% endif %}